<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QRCodeGenerator.Properties.Settings.RunningQRConnectionString"
            connectionString="Data Source=runningqrcode.database.windows.net;Initial Catalog=RunningQR;Persist Security Info=True;User ID=jirasin;Password=Ball14886"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
